<header class="ui-header">
  <div class="ui-header__row">
      <button class="ui-button ui-button--icon" (click)="__global.history.back()">
          <i class="material-icons">arrow_back</i>
        </button>
      <span class="ui-header__title">[[title]]</span>
    </div>
  </header>

  <form class="ui-padding" (submit)="save(evt)">
    <ui-textfield label="Nama Koperasi" value="{{name}}"></ui-textfield>
    <ui-textfield label="Tipe" value="{{kind}}"></ui-textfield>
    <ui-textfield label="No. Registrasi" value="{{reg_no}}"></ui-textfield>
    <ui-textfield label="Address" value="{{address}}"></ui-textfield>

    <button class="ui-button ui-button--block ui-button--colored">Simpan</button>
  </form>

