<div class="ui-layout ui-layout--v">
  <header class="ui-header">
    <div class="ui-header__row">
      <button class="ui-button ui-button--icon ui-drawer--handle" (click)="__global.drawer.open()">
        <i class="material-icons">menu</i>
      </button>
      <span class="ui-header__title">Beranda</span>
    </div>
  </header>

  <div class="ui-padding">
    <form class="ui-card ui-padding" (submit)="doCreateBilling(evt)">
      <ui-textfield label="Jumlah" value="{{billing.amount}}"></ui-textfield>
      <input type="submit" class="ui-button ui-button--block ui-button--colored" value="Terima Pembayaran">
    </form>

    <hr>

    <a href="#!/qrscan" class="ui-button ui-button--block ui-button--colored">Bayar</a>
  </div>
</div>
