<div class="ui-layout ui-layout--v">
  <header class="ui-header">
    <div class="ui-header__row">
      <button class="ui-button ui-button--icon ui-drawer--handle" (click)="__global.drawer.open()">
        <i class="material-icons">menu</i>
      </button>
      <span class="ui-header__title">[[title]]</span>
    </div>
  </header>

  <form class="profile ui-padding" (submit)="doSave(evt)">
    <a href="#!/receipt" class="ui-button ui-button--block ui-button--colored">Terima Dana</a>
    <hr>
    <a href="#!/expense" class="ui-button ui-button--block ui-button--colored"> Bayar </a>
  </form>
</div>
