<div class="ui-layout ui-layout--v">
  <header class="ui-header">
    <div class="ui-header__row">
      <button class="ui-button ui-button--icon ui-drawer--handle" (click)="__global.drawer.open()">
        <i class="material-icons">menu</i>
      </button>
      <span class="ui-header__title">[[title]]</span>
    </div>
  </header>

  <form class="profile ui-padding" (submit)="save(evt)">
      <ui-textfield label="Produk" value="{{product}}"></ui-textfield>
      <ui-textfield label="Jumlah" value="{{amount}}"></ui-textfield>
      <button class="ui-button ui-button--block ui-button--colored" >Ok</button>
  </form>
  <my-qrcode data="[[data]]" />
</div>
