<my-login-middleware/>
<xin-lazy-view-middleware></xin-lazy-view-middleware>

<connect-pool id="apiPool" base-url="[[configUrl]]"></connect-pool>
<my-fetch-service id="fetchService"></my-fetch-service>

<ui-drawer id="drawer">
  <a href="#!/profile">
    <div class="mini-profile">
      <div class="mini-profile__image">
        <img src="../assets/images/profile/200x200jordan.png">
      </div>
      <div class="mini-profile__info">
        <h3>Michael Jordan</h3>
        <p>Member</p>
      </div>
    </div>
  </a>
  <div class="ui-list" id="menuList">
    <a class="ui-list__item" href="#!/">Home</a>
    <a class="ui-list__item" href="#!/profile">Profile</a>
  </div>
</ui-drawer>

<xin-pager class="ui-layout ui-layout--v">
  <my-walkthrough lazy-view uri="/walkthrough"></my-walkthrough>
  <my-login lazy-view uri="/login"></my-login>
  <my-register lazy-view uri="/register"></my-register>
  <my-home lazy-view uri="/"></my-home>
  <my-history lazy-view uri="/history"></my-history>
  <my-form-coop lazy-view uri="/formCoop[/{id}]"></my-form-coop>
  <my-list-coop lazy-view uri="/listCoop"></my-list-coop>
  <my-qrbilling lazy-view uri="/qrbilling[/{account}/{amount}]"></my-qrbilling>
  <my-qrscan lazy-view uri="/qrscan"></my-qrscan>
  <my-layouts lazy-view uri="/layouts"></my-layouts>
  <my-profile lazy-view uri="/profile"></my-profile>
</xin-pager>
